* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    max-width: 1920px;
    ;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    font-family: SF Pro Text, SF Pro Icons, Arial, Helvetica, sans-serif;
}

.tamanho {
    max-width: 1280px;
    margin: 0 auto;
}


/* COMECA O HEADER*/

header {
    color: white;
    padding: 40px 4%;
    text-align: center;
}

header>.tamanho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: inline-block;
    color: #b1afaf;
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: #ffffff;
    transform: scale(1.15);
}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .botao button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

header .botao button:hover {
    box-shadow: 0px 0px 18px white;
}

/*ACABA O HEADER*/

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*COMECA A MAIN*/


main .sobre {
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

#conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 4%;
}

main .sobre .texto-botao h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    text-shadow: 1px 1px 13px rgba(255, 255, 255, 2);
    font-size: 26px;
}

/* ACABA A MAIN */

/* SOBRE */

.texto-botao {
    margin: 20px;
}

.img {
    margin-right: 40px;

}

#texto-sobre {
    margin-left: 40px;
}

main .botao button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

main .botao button:hover {
    box-shadow: 0px 0px 18px white;
}

main .botao:hover {
    color: #ffffff;
    transform: scale(1.05);
    transition: .2s;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img img {
    border-radius: 800px;
    color: white;
}

.img:hover{
    transform: scale(1.05);
    transition: .2s;
    cursor: pointer;
}




/* h1, h2, h3 {
    margin: 0;
}

p {
    margin: 10px 0;
}

h4 {
    color: white;
    font-size: 16px;
}
*/

.sobre {
    padding: 100px 4%;
    margin: 40px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 15px white;
}

/*  ACABA SONBRE */

/* HABILIDADE */


main .Habilidades .flex {
    justify-content: center;
    align-items: center;
    display: flex;
}


#Habilidades {
    padding: 100px 4%;
    margin: 40px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 15px white;
}

#habilit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 13px rgba(255, 255, 255, 2);
    font-size: 20px;
}

.caixahabilidades {
    display: grid;
    justify-content: space-around;
    align-items: center;
    max-width: 180px;
    min-width: 180px ;
    min-height: 250px;
    padding: 10px 4%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 15px white;
}



main .caixahabilidades:hover {
    color: rgb(129, 185, 238);
    transform: scale(1.05);
    transition: .2s;
}

.caixahabilidades h2 {
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 1);

}

.caixahabilidades i {
    font-size: 50px;
    color: rgb(129, 185, 238);
    filter: drop-shadow(1px 1px 16px rgba(129, 185, 238, 0.8));
}

/* ACABA HABILIDADE*/


/*COMEÇA EXPERIENCIAS E TABELA*/

#text-exp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 13px rgba(255, 255, 255, 2);
    font-size: 26px;
}


#table-exp {
    padding: 80px 4%;
    margin: 40px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 15px white;
}

.experiencias{
    box-shadow: 1px 1px 30px rgba( 255, 255, 255, 0.6 );
}

.table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table td, .table th {
    text-align: center;
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    color: black;

}

.table thead th {
    color: white;
    background: #4FC3A1;
}


.table thead th:nth-child(odd) {
    color: white;
    background: rgb(129, 185, 238);
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

/*  ACABOU TABALA ESTILO E EXPERIENCIAS */

/*COMECA CONTACT*/

#contact{
    max-height: 800px;
    padding: 100px 4%;
    margin: 40px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 15px white;
}

#contato-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-ctt{

    display: flex;
    justify-content: space-between;
    padding: 30px 4%;
}

#caixa-foto{
    display: flex;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 1px 0px 15px white;
}

#conteudo{
    display: grid;
    width: 500px;
}

#redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#insta{
    color: white;
    font-size: 50px;
}

#insta i{
    color: white;
    filter: drop-shadow(1px 1px 16px rgba(129, 185, 238, 1));
}

#git{
    color: white;
    font-size: 50px;
}

#git i{
    color: white;
    filter: drop-shadow(1px 1px 16px rgba(129, 185, 238, 1));
}

#link{
    color: white;
    font-size: 50px;
}

#link i{
    color: white;
    filter: drop-shadow(1px 1px 16px rgba(129, 185, 238, 1));
}

#outras-formas{
    display: grid;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

#e-mails {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -25px;
}

#e-mails h1{
    font-size: 18px;
    margin-right: 10px;
}

#telefone{
    display: flex;
    align-items: center;
    justify-content: center;
}

#telefone h1{
    font-size: 18px;
    margin-right: 10px;
}













#Sobre h2,
#Habilidades h2,
#contact,
#cor,
#formulario h2 {
    margin-bottom: 10px;
}
